input[type='text'],
input[type='email'],
input[type='password']{
    height: 30px;
    border-radius: 2px;
    font-weight: 500;
    margin: 5px;
}

.btn-submit {
    height: 35px;
    margin: 5px;
    text-align: center;
    color: black;
}

.text-error {
    margin-left: 5px;
    color: red;
}